<div class="row">
  <div class="col-md-2 vertical-title-section">
    <div id="signup-title" class="vertical vertical-title">
      <% if params[:plan] == '2' %>
        <h1>Sign up for premium</h1>
      <% else %>
        <h1>Sign up for free</h1>
      <% end %>
    </div>
  </div>
  
  <div class="col-md-4 content-section">
    <div class="well content-well" id="signup-form">
      <% if params[:plan] == '2' %>
        <%= render "premium_form" %>
      <% else %>
        <%= render "basic_form" %>
      <% end %>
      
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

