<div class="menu-item-dashboard">
  <div class="row">
    <div class="col-md-4">
      <div class="menu-item-bar">
        <h2>Action center</h2>
      </div>
      <div class="well well-inverse">
        <ul>
          <li><a href="#">Complete your profile</a></li>
          <li><a href="#">Join a team</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-7">
      <h2>Recent activity</h2>
      <div class="activity-container well well-inverse">
          <ul>
            <li>Updated profile on September 27th, 2016.</li>
            <li>Joined bitSpokes on August 27th, 2016.</li>
          </ul>
      </div>
    </div>
  </div>
</div>