<div class="row">
  <div class="col-md-2 vertical-title-section">
    <div id="about-title" class="vertical vertical-title">
      <h1>About</h1>
    </div>
  </div>
  <div class="col-md-4 content-section">
    <div class="well content-well" id="about-blurb">
      <h3>
        <span class="bit-word">bit</span>Spokes is a social app for bicyclists.
      </h3>
      <p>
        Team up with your existing bike friends, or find new ones with similar biking interests.
        Share bikes, trails, gear and tips, all in one place.
      </p>
    </div>
  </div>
</div>