<div class="row">
  <div class="col-md-2" id="about-title-section">
    <div id="about-title" class="vertical">
      <h2>About</h2>
    </div>
  </div>
  <div class="col-md-4" id="about-blurb-section">
    <div class="well" id="about-blurb">
      <p id="about-blurb-summary">
      <span class="bit-word">bit</span>Spokes is a social app for bicyclists.
      </p>
      <p id="about-blurb-parag">
        Team up with your existing bike friends, or find new ones with similar biking interests.
        Share bikes, trails, gear and tips, all in one place.
      </p>
    </div>
  </div>
</div>