/*********** Color scheme variables ************/

/**** Overall color scheme ****/
//$dark-tone-1: #004B25;
$dark-tone-1: #184e40;


$logo-tone-dark: #278068;
$logo-tone-medium: #2cdba8;
$logo-tone-light: #5efbd2;


/**** User profile ****/

/* Interest items color-coding by experience level */
$expert-color: #064a28;
$intermediate-color: #039e46;
$beginner-color: #05b18f;