/*********** Color scheme variables ************/

/**** Overall color scheme ****/
$dark-tone-1: #004B25;



/**** User profile ****/

/* Interest items color-coding by experience level */
$expert-color: #064a28;
$intermediate-color: #039e46;
$beginner-color: #05b18f;