/*************************************
Description: General styles 
 - used throughout the app
**************************************/

@import 'colors';


/**** Utility styles ****/

// Class for hiding stuff
.hide {
  display: none;
}

// Class for pointing at stuff
.pointer {
  cursor:pointer;
}


/**** Background styles ****/

// Body background shows up in footer
body {
  background-color: $logo-tone-dark;
}

// Main background
#bkgd-container {
  background: $logo-tone-medium image-url("bitSpokes_brand_colors_bkgd_2.png") repeat fixed; 
  width:100%;
}





/**** Text styles ****/

// Timestamp styles
.timestamp {
  margin: 0;
  color: $de-emphasized-text;
}
