/*************************************
Description: General styles 
 - used throughout the app
**************************************/

@import 'colors';


/**** Utility styles ****/

// Class for hiding stuff
.hide {
  display: none;
}

// Class for pointing at stuff
.pointer {
  cursor:pointer;
}

// Class for vertical text
.vertical{
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform:rotate(270deg);
    transform: rotate(270deg);
}


/**** Background styles ****/

// Body background shows up in footer
body {
  background-color: $logo-tone-dark;
}

// Main background
#bkgd-container {
  background: $logo-tone-medium image-url("bitSpokes_brand_colors_bkgd_2.png") repeat fixed; 
  width:100%;
}


/**** App content alignment styles ****/

// Vertical title styles
.vertical-title-section {
  padding: 0;
}
.vertical-title {
  float: right;
}

.content-section {
  padding: 0;
}




/**** Text styles ****/
h1 {
  font-size: 36px;
  color: $logo-tone-dark;
  margin-bottom: 0;
}

h2, h3 {
  margin-top: 0;
}

// Brand-color-hued text color
.bit-word {
  color: $bit-word-color;
}


// Timestamp styles
.timestamp {
  margin: 0;
  color: $de-emphasized-text;
}
