

// Vertical menu
div.well.well-menu-vert {
  padding: 7px;
  margin-top: 1em;
}
ul.menu-vert {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0px;
}
ul.menu-vert > li {
  display: block;
  width: inherit;
  padding: 5px;
  margin-right: -8px;
  border-radius: 4px 0 0 4px;
  color: #00331a;
}
ul.menu-vert > li:hover {
  background-color: #8AD4BE;
}

// Selected menu item styles
.selected-bkgd {
  background-color: #fff;
}
ul.menu-vert > li.selected-bkgd:hover {
  background-color: #fff;
}

// Hide class for menu item sections
.hide-menu-item {
  display: none;
}