@import 'colors';

// Navbar color
.navbar-custom {
  background-color: $dark-tone-1;
  height: 80px;
}
.navbar-brand {
  padding: 0;
}
.navbar-brand > img {
  padding: 10px;
}
.navbar-btn {
    margin: 22px;
    color: white;
    background-color: inherit;
    border: 2px solid;
    border-color: #5efbd2;
}

// Top padding needed to offset for fixed navbar
.padded-wrapper {
  //padding-top: 3.5em;
  padding-top: 80px;
}

// Side offsets for fluid navbar
.container-fluid-custom {
  padding-left: 25px;
  padding-right: 25px;
  
  margin: 0 15em;
}