/*************************************
Description: Navbar styles
**************************************/

@import 'colors';


/*** Bootstrap overrides ***/

// Navbar links list text color
.navbar-inverse .navbar-nav > li > a {
  color: $logo-tone-medium;
}

// Navbar brand text color -- for alt text of brand text logo
.navbar-inverse .navbar-brand {
  color: $logo-tone-medium;
}

.navbar-brand {
  padding: 0;
}
.navbar-brand > img {
  padding: 10px;
}


/*** Custom navbar styles ***/

.navbar-custom {
  background-color: $dark-tone-1;
  height: 80px;
}
.navbar-btn {
    margin: 22px;
    color: white;
    background-color: inherit;
    border: 2px solid;
    border-color: $logo-tone-light;
}


/*** Navbar offsets ***/

// Top padding needed to offset for fixed navbar
.padded-wrapper {
  padding-top: 80px;
}

// Side offsets for fluid navbar
.container-fluid-custom {
  padding-left: 25px;
  padding-right: 25px;
  
  margin: 0 15em;
}