// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*************************************
Description: Main pages styles
**************************************/

@import 'colors';


/**** Landing homepage styles ****/

// Big logo with taglines
.hero {
  img {
    margin-top: 40px;
  }
  
  h2 {
    color: white;
    font-size: 48px;
    letter-spacing: 4px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  h3 {
    color: white;
    margin-top: 30px;
  }
  
  #comingsoon-tagline {
    color: $logo-tone-light;
  }
  
  .share-text-box {
    display: inline;
    padding: 0 5px;
    border-radius: 2px;
    border: 2px solid $logo-tone-light;
    box-shadow: 1px 1px 5px $logo-tone-dark;
    width: 500px;
  }
}

// Secondary tagline alignment
.tagline-left {
  padding: 0 3px;
  
  h3 {
    float: right;
  }
}
.tagline-right {
  padding: 0 3px;
  
  h3 {
    float: left;
  }
}

// Sign-up button
.signup-button {
  color: white;
  background-color: $dark-tone-1;
  border-color: $logo-tone-light;
  border-width: 2px;
  margin-top: 40px;
  box-shadow: 1px 1px 10px $logo-tone-dark;
}


/**** 'About' page styles ****/

#about-title {
  margin-top: 70px;
}

#about-blurb {
  margin-bottom: 250px;
}


/**** 'Contact us' page styles ****/

#contact-title {
  margin-top: 100px;
  margin-right: -40px;
}

#contact-form {
  margin-bottom: -30px;
}


/**** Account sign-up page styles ****/

#signup-title {
  margin-top: 140px;
  margin-right: -75px;
}

#signup-form {
  margin-bottom: 100px;
}


/**** Account login page styles ****/

#login-title {
  margin-top: 70px;
  margin-right: 0px;
}

#login-form {
  margin-bottom: 100px;
}


/**** 'Forgot password' page styles ****/
#forgot-password-title {
  margin-top: 80px;
  margin-right: -10px;
}

#forgot-password-form {
  margin-bottom: 200px;
}


/**** User page styles ****/

#user-title {
  margin-top: 50px;
  margin-right: 20px;
}

#user-content {
  margin-bottom: 100px;
}